* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Darker Grotesque', sans-serif;
  /* font-family: 'Mallanna', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  }